<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Description</string>
			<key>FooterText</key>
			<string>Waktu Solat is an iPhone app. The app fetch prayer time from JAKIM eSolat portal which is Malaysia&apos;s premier prayer time reference.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>License</string>
			<key>FooterText</key>
			<string>Waktu Solat is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with WaktuSolat. If not, see http://www.gnu.org/licenses/</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Credit</string>
			<key>FooterText</key>
			<string>JAKIM eSolat Portal : http://www.e-solat.gov.my</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>About</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>readOnly_key</string>
			<key>DefaultValue</key>
			<string>2.0</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
